* {box-sizing:border-box;}
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
.App {
  text-align: center;
  background-color: black;
 
}


#rank-pic {
  background-image: url(https://mcdn.wallpapersafari.com/medium/95/10/czFDaC.png) ;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
  
}
#dots{
	list-style: none;
}

form {
	background-color: #04218b;

}

input{
	text-align: center;
	width: 300px;
	padding: 10px;
	margin: 40px;
	border: 2px solid red;
	border-radius: 5px
}
.btn-1 {
	width: 150px;
	border-radius: 5px;
	padding: 20px;
	margin-top: 30;
	margin-bottom: 50px;
}
.title {background-color: #b3001b;
	padding: 20px;
	color: #d4af37;
	text-align: center;
margin: 0;
font-family: PT serif;
	
}
.returns{
	text-align: center;
	background-color: blue;
	color: red;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 30px;
	
}